
:root {
    --vert: #4f805d;
    --vertclair: #8bb092
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 1.3em;
    font-weight: bold;
}

body {
    background: rgba(10,0,175,0.6);
    /*background: radial-gradient(circle, rgba(10,0,175,1) 0%, rgba(195,145,183,1) 35%, rgba(182,136,171,1) 37%, rgba(0,0,0,1) 66%, rgba(236,124,74,1) 96%, rgba(236,98,74,1) 97%);*/
    color: black;
    /*font-family: Verdana, sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 1.5em;*/
    /*line-height: 1.3;*/
    font: 400 13px/1.3 verdana, sans-serif;
    overflow-x: hidden;
}


ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}


.wrap {
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}

.relative {position: relative}
.absolute {position: absolute}
